@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
.container-textos{
    justify-content: center;
    text-align: center;
    
    
}
body{
    background-color: #EFB402;
    font-family:'Nunito', sans-serif;
}